@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background text-front font-geistSans scroll-smooth duration-150 scrollbar-primary;
  }

  body {
    @apply m-0 p-0;
  }

  ::-webkit-scrollbar-thumb {
    transition-duration: 300ms;
  }

  :root {
    --page-padding: 8vw;
  }

  :root[data-theme="light"] {
    --color-primary: 225 029 072;
    --color-secondary: 238 237 235;
    --color-foreground: 255 255 255;
    --color-background: 255 255 255;
    --color-front: 009 009 011;
    --color-back: 254 254 250;
  }
  :root[data-theme="dark"] {
    --color-primary: 225 029 072; /* #E11D48 */
    --color-secondary: 009 009 011; /* #1C1917 */
    --color-foreground: 028 025 023;
    --color-background: 009 009 011;
    --color-front: 250 250 250;
    --color-back: 250 250 250;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .content-visible {
    content: " ";
  }

  .p-page {
    @apply px-[var(--page-padding)];
  }

  .scrollbar-primary::-webkit-scrollbar {
    @apply w-1;
  }
  .scrollbar-primary::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    @apply bg-primary rounded hover:saturate-200;
  }

  .scrollbar-idle::-webkit-scrollbar-thumb {
    @apply bg-opacity-30;
  }
  .scrollbar-active::-webkit-scrollbar-thumb {
    @apply bg-opacity-100;
  }

  .absolute-cover {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .border-sketch {
    @apply relative before:absolute before:-left-[0.1em] before:top-[0.1em] before:-z-1 before:h-[1em] before:w-full before:rotate-2 before:animate-[border-sketch-anim_2000ms] 
    before:rounded-[50%] before:border-[4px] before:border-solid before:border-inherit before:border-r-transparent before:px-[0.25em] before:py-[0.5em] before:opacity-70 before:content-visible after:absolute after:-left-[0.1em]
    after:top-[0.3em] after:-z-1 after:h-[1em] after:w-full after:-rotate-2 after:animate-[border-sketch-anim_2000ms] after:rounded-[50%] after:border-[4px] after:border-solid
    after:border-inherit after:border-l-transparent after:border-t-transparent after:px-[0.25em] after:py-[0.5em] after:opacity-70 after:content-visible;
  }
}
