@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background text-front font-geistSans scroll-smooth duration-150;
  }

  body {
    @apply m-0 p-0;
  }

  :root {
    --color-primary: 225 29 72;
    --color-secondary: 244 244 245;
    --color-foreground: 255 255 255;
    --color-background: 255 255 255;
    --color-front: 9 9 11;
    --color-back: 254 254 250;
  }
  :root[data-theme="dark"] {
    --color-primary: 225 29 72;
    --color-secondary: ;
    --color-foreground: 28 25 23;
    --color-background: 9 9 11;
    --color-front: 250 250 250;
    --color-back: 250 250 250;
  }
}

@layer utilities {
  .p-page {
    @apply px-[8vw];
  }
}
